PORT=4000
MONGO_URI=mongodb+srv://ducdo63:0918273645abc@pollux.zepqt4l.mongodb.net/?retryWrites=true&w=majority&appName=Pollux

JWT_SECRET=U3YU23wef32BFE48t48br4tGERbvrtbrtb45n4ty848t4nerS
JWT_EXPIRE=7d
COOKIE_EXPIRE=5

SENDGRID_API_KEY=SG.UUwefwewrgI.efewfwewef
SENDGRID_MAIL=jhondoe@gmail.com
SENDGRID_RESET_TEMPLATEID=d-wefiniwnef1ewf848erg18er8

NODE_ENV=development

FE_DOMAIN = http://localhost:4000
BE_DOMAIN = https://pollux-sqim.onrender.com